
.PostForm {
  display:grid;
  background:#fff;
  border-radius: 20px;
  width: 800px;
  margin: 20px auto;
  padding: 40px;
 }
.Prograss{
  width: 100%;
  background-color: #ddd;
  }
.postImg{
  margin-left:15%;
  margin-bottom:20px;
  width: 500px;
  height: 450px;
}
.typeDropdown{
  width: 200px;
  /* color: #2e4057; */
  height: 30px;
  background-color: #edf2f7;
  border-radius: 30px;
}

.PostForm button{
  display: block;
  width: 100px;
}
.PostForm .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #2e4057;
  text-transform: uppercase;
  text-align: center;
}
.PostForm .textArea{
  width: 700px;
  height: 100px;
  padding: 5px;
  /* text-align: center; */
  border: 1px solid #fdb2dd;
  /* border-color: #;  */
  border-radius: 5px;
}

.imgdiv{
  display:block;
  /* margin-left: 40%; */
}
.ImgUpload{
  font-size: 2.5rem !important;
    color: #2e4057;

}
.ImgUpload:hover{
  color: #ffa5d8;
}
input[type="file"]{
  display: none;
}
/**/
.input-container{
  position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:20px;
	color:#2e4057;	
  pointer-event:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#f381c2;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #f381c2;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}
